{% extends "lbforum/base_site.html" %}

{% load i18n %}
{% load lbforum_widget_tags %}
{% load onlineuser_tags %}

{% block content_right_bar %}
    {% include 'lbforum/widgets/cur_user_profile.html' %}
    <div class="sep20"></div>
    {% lbf_categories_and_forums %}
{% endblock %}

{% block content_content %}
    <div class="box" id="topics_index">
        <div class="cell" align="left">
            <div class="fr">
                <a href="{% url lbforum_new_topic %}" class="super normal button">{% trans "Post new topic" %}</a>
            </div>
            <span class="bigger">Welcome to <strong>{{ LBFORUM_TITLE }}</strong></span>
            <div class="sep10"></div>
        </div>

        {% include 'lbforum/inc_topic_list.html' %}

        <div class="inner">
            <a href="{% url lbforum_recent %}">{% trans "More" %}</a>
        </div>
    </div>
{% endblock %}
